In [1]:
import pandas as pd
music_data= pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
import pandas as pd
music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [4]:
import pandas as pd
music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# Creating a model
model= DecisionTreeClassifier()
model.fit(X,y)
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [6]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# Creating a model
model= DecisionTreeClassifier()
model.fit(X,y)
model.predict([ [21,1],[22,0] ])

C:\Users\COMPUTER GARDEN\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [7]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# Creating a model
model= DecisionTreeClassifier()
model.fit(X,y)
predictions= model.predict([ [21,1],[22,0] ])
predictions

C:\Users\COMPUTER GARDEN\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [16]:
# Same_sample_01

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# X for input, y for output
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2)

# Creating a model
model= DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions= model.predict(X_test)

# Calculating Accuracy
score= accuracy_score(y_test, predictions)
score

0.5

In [18]:
# Same_sample_02

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# X for input, y for output
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2)

# Creating a model
model= DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions= model.predict(X_test)

# Calculating Accuracy
score= accuracy_score(y_test, predictions)
score

1.0

In [19]:
# Same_sample_03

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# X for input, y for output
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.7)

# Creating a model
model= DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions= model.predict(X_test)

# Calculating Accuracy
score= accuracy_score(y_test, predictions)
score

0.38461538461538464

In [26]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
# from sklearn.externals
import joblib

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# Creating a model
model= DecisionTreeClassifier()
model.fit(X, y)

joblib.dump(model, 'music-recomender.joblib')

# predictions= model.predict([[21,1]])

['music-recomender.joblib']

In [27]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
# from sklearn.externals
import joblib

# music_data= pd.read_csv('music.csv')
# X= music_data.drop(columns=['genre'])
# y= music_data['genre']

# # Creating a model
# model= DecisionTreeClassifier()
# model.fit(X, y)

model= joblib.load('music-recomender.joblib')
predictions= model.predict([[21,1]])
predictions

C:\Users\COMPUTER GARDEN\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

In [30]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

music_data= pd.read_csv('music.csv')
X= music_data.drop(columns=['genre'])
y= music_data['genre']

# Creating a model
model= DecisionTreeClassifier()
model.fit(X, y)

# Decission tree visualization
tree.export_graphviz(model, out_file= 'music-recomender.dot',
                    feature_names= ['age', 'gender'],
                    class_names= sorted(y.unique()),
                    label= 'all',
                    rounded= True,
                    filled= True)